
<div class="d-flex flex-column justify-content-center align-items-center content-wrapper">
    <h2 class="page-title">Uploaded files</h2>

    <div class="d-flex justify-content-center align-items-center boxes-wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center box">
            <img src="assets/images/pdf.png" width="70" alt="">
            <span class="box-title">File_01.pdf</span>
            <img src="assets/images/delete-icon.png" width="15" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center box">
            <img src="assets/images/pdf.png" width="70" alt="">
            <span class="box-title">File_02.pdf</span>
            <img src="assets/images/delete-icon.png" width="15" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center box">
            <img src="assets/images/pdf.png" width="70" alt="">
            <span class="box-title">File_03.pdf</span>
            <img src="assets/images/delete-icon.png" width="15" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center box">
            <img src="assets/images/jpg.png" width="70" alt="">
            <span class="box-title">7628223.jpg</span>
            <img src="assets/images/delete-icon.png" width="15" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center box">
            <img src="assets/images/png.png" width="70" alt="">
            <span class="box-title">86382.png</span>
            <img src="assets/images/delete-icon.png" width="15" alt="">
        </div>
    </div>

    <div class="d-flex buttons-wrapper">
        <button>Upload more</button>
        <button>Start analyzing</button>
    </div>
</div>  